@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue";
}

.body {
  background-color: #5B4003;
}
.body .hero {
  background-image: url("./imagenes/CopaDelMundo.PNG");
  height: 55vh;
}
.fondo {

  background-color: #5B4003;
}
